*/.ipynb_checkpoints/*
.eggs*
*.egg-info*
.ipynb_checkpoints/*
*__pycache__*
*.pyc
*.pyo
./*.py
./*.ipynb
./build
./build/*
./dist
./dist/*
build/
dist/
data/output
data/output/*
*Untitled*.ipynb
./www/*
./www
.DS_Store
.vscode
